<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    だれでもかんたん、人生を変えるフリマアプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIMAについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIMAを見る</h2>
      <ul>
        <li><%= link_to 'ブランド一覧', "#", class: "footer-link" %></li>
        <li class="footer-link", id="footer-pull-btn">カテゴリー一覧</li>
        <div class="footer-pull-down", id="footer-pull-down">
          <ul class="footer-pull-parent">
            <li><%= link_to 'レディース', categorize_items_path(category_id: 2), class: "footer-pull-child" %></li>
            <li><%= link_to 'メンズ', categorize_items_path(category_id: 3), class: "footer-pull-child" %></li>
            <li><%= link_to 'ベビー・キッズ', categorize_items_path(category_id: 4), class: "footer-pull-child" %></li>
            <li><%= link_to 'インテリア・住まい・小物', categorize_items_path(category_id: 5), class: "footer-pull-child" %></li>
            <li><%= link_to '本・音楽・ゲーム', categorize_items_path(category_id: 6), class: "footer-pull-child" %></li>
            <li><%= link_to 'おもちゃ・ホビー・グッズ', categorize_items_path(category_id: 7), class: "footer-pull-child" %></li>
            <li><%= link_to '家電・スマホ・カメラ', categorize_items_path(category_id: 8), class: "footer-pull-child" %></li>
            <li><%= link_to 'スポーツ・レジャー', categorize_items_path(category_id: 9), class: "footer-pull-child" %></li>
            <li><%= link_to 'ハンドメイド', categorize_items_path(category_id: 10), class: "footer-pull-child" %></li>
            <li><%= link_to 'その他', categorize_items_path(category_id: 11), class: "footer-pull-child" %></li>
          </ul>
        </div>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIMAについて</h2>
            <ul class="footer-list">
        <li><%= link_to 'FURIMAガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMAロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>© FURIMA</p>
</div>