<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with(url: search_items_path, local: true, method: :get, class:"search-form") do |form| %>
      <%= form.text_field :keyword, class:'input-box', placeholder: 'キーワードから探す' %>
      <%= image_submit_tag "search.png", class:"search-button" %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li class= "category-list", id="category-bar">カテゴリー</li>
      <ul>
        <li><%= link_to "絞り込む", "#", class: "brand-list" %></li>
        <div>
          <ul>
            <li>
            </li>
          </ul>
        </div>
      </ul>
      <div class="pull-down-none", id="pull-down">
        <ul class="pull-down">
          <li><%= link_to 'レディース', categorize_items_path(category_id: 2), class: "pull-child" %></li>
          <li><%= link_to 'メンズ', categorize_items_path(category_id: 3), class: "pull-child" %></li>
          <li><%= link_to 'ベビー・キッズ', categorize_items_path(category_id: 4), class: "pull-child" %></li>
          <li><%= link_to 'インテリア・住まい・小物', categorize_items_path(category_id: 5), class: "pull-child" %></li>
          <li><%= link_to '本・音楽・ゲーム', categorize_items_path(category_id: 6), class: "pull-child" %></li>
          <li><%= link_to 'おもちゃ・ホビー・グッズ', categorize_items_path(category_id: 7), class: "pull-child" %></li>
          <li><%= link_to '家電・スマホ・カメラ', categorize_items_path(category_id: 8), class: "pull-child" %></li>
          <li><%= link_to 'スポーツ・レジャー', categorize_items_path(category_id: 9), class: "pull-child" %></li>
          <li><%= link_to 'ハンドメイド', categorize_items_path(category_id: 10), class: "pull-child" %></li>
          <li><%= link_to 'その他', categorize_items_path(category_id: 11), class: "pull-child" %></li>
        </ul>
      </div>
    </ul>

    <% if user_signed_in? %>
      <div class="lists-right-none", id="lists-right">
      <ul class='lists-right lists-right-on'>
        <li class="list-menu"><%= link_to  "マイページ", user_path(current_user), class: "user-nickname" %></li>
        <li class="list-menu"><%= link_to  "購入履歴", orders_show_path(current_user), class: "user-nickname" %></li>
        <li class="list-menu"><%= link_to  "出品履歴", users_path(current_user), class: "user-nickname" %></li>
        <li class="list-menu"><%= link_to  "お気に入り", favorites_index_path(current_user), class: "user-nickname" %></li>
        <li class="list-logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </ul>
      </div>
      <div class="icon-box", id="menu-icon">
      <h1 class="menu-btn">Menu</h1>
      </div>
    <% else %>
     <ul class='lists-right'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </ul>
    <% end %>
  </div>
</header>