<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with(url: search_items_path, local: true, method: :get, class:"search-form") do |form| %>
      <%= form.text_field :keyword, class:'input-box', placeholder: 'キーワードから探す' %>
      <%= image_submit_tag "search.png", class:"search-button" %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to '絞り込み', "#", class: "brand-list" %></li>
    </ul>

    <% if user_signed_in? %>
      <div class="lists-right-none", id="lists-right">
      <ul class='lists-right lists-right-on'>
        <li class="list-menu"><%= link_to  "マイページ", user_path(current_user), class: "user-nickname" %></li>
        <li class="list-menu"><%= link_to  "購入履歴", orders_show_path(current_user), class: "user-nickname" %></li>
        <li class="list-menu"><%= link_to  "出品履歴", users_path(current_user), class: "user-nickname" %></li>
        <li class="list-menu"><%= link_to  "お気に入り", favorites_index_path(current_user), class: "user-nickname" %></li>
        <li class="list-logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </ul>
      </div>
      <div class="icon-box">
      <%= image_tag "menu_bar.png", calss: "menu-icon", id: "menu-icon", width: 45, height: 45 %>
      </div>
    <% else %>
     <ul class='lists-right'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </ul>
    <% end %>
  </div>
</header>