<%= render "shared/second-header" %>
<div class='main'>
  <%# 商品一覧 %>
  <div class='item-contents'>
      <h2 class='title'><%= @item.user.nickname %>さんの出品リスト</h2>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to "/items/#{item.id}" do %>
        <div class='item-img-content'>
          <% if item.images.count > 0 %>
            <%= image_tag item.images.first.variant(resize: "500x500").processed, class: "item-img" %>
            <% end %>
           <% if item.order != @order.item_id %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'><%= item.favorites.count %></span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>

</div>
<%= render "shared/second-footer" %>